BOOKSTORE_API_URL=https://api.bookstore.aronim.local/api
CERTIFICATES_ARONIM_BOOKSTORE_WILDCARD_CRT=
CERTIFICATES_ARONIM_BOOKSTORE_WILDCARD_KEY=
CERTIFICATES_ARONIM_LOCAL_ROOT_CA=
CERTIFICATES_ARONIM_WILDCARD_CRT=
CERTIFICATES_ARONIM_WILDCARD_KEY=
CI=true
KEYCLOAK_HOSTNAME=identity.aronim.local
KEYCLOAK_MASTER_ADMIN_USERNAME=admin@aronim.local
KEYCLOAK_MASTER_ADMIN_PASSWORD=
KEYCLOAK_BOOKSTORE_ADMIN_USERNAME=admin@aronim.local
KEYCLOAK_BOOKSTORE_ADMIN_PASSWORD=
KEYCLOAK_BOOKSTORE_BACKEND_CLIENT_ID=aronim-bookstore-backend-application
KEYCLOAK_BOOKSTORE_BACKEND_CLIENT_SECRET=
KEYCLOAK_BOOKSTORE_REALM_URL=https://identity.aronim.local/realms/bookstore
POSTGRES_BOOKSTORE_PASSWORD=
POSTGRES_BOOKSTORE_URL=jdbc:postgresql://postgres:5432/bookstore
POSTGRES_BOOKSTORE_USERNAME=bookstore
POSTGRES_KEYCLOAK_PASSWORD=
POSTGRES_KEYCLOAK_URL=jdbc:postgresql://postgres:5432/keycloak
POSTGRES_KEYCLOAK_USERNAME=keycloak
POSTGRES_MULTIPLE_DATABASES=bookstore,keycloak
POSTGRES_PASSWORD=
POSTGRES_USER=postgres
