CI=false
KC_BOOKSTORE_BACKEND_ADMIN_USERNAME=admin@aronim.local
KC_BOOKSTORE_BACKEND_ADMIN_PASSWORD=
KC_BOOKSTORE_BACKEND_API_URL=https://api.bookstore.aronim.local/api
KC_BOOKSTORE_BACKEND_CLIENT_ID=aronim-bookstore-backend-application
KC_BOOKSTORE_BACKEND_CLIENT_SECRET=
KC_BOOKSTORE_REALM_URL=https://identity.aronim.local/realms/bookstore
KC_BOOKSTORE_TOKEN_URL=${KC_BOOKSTORE_REALM_URL}/protocol/openid-connect/token
